body {
    background-color: #fdfcff;
}
h1, h2, h3, h4, h5 {
    font-weight: normal;
}
h1, h2, h3, h4, h5, p, dl, ol, ul {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: outside none none;
}




body {
    color: #666666;
    font-family: "微软雅黑","宋体","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.mod1024{

	margin: 0 auto;
	overflow: hidden;
	width:1004px;
	height: 1000px;
}

.header {
    height: 60px;
    margin-bottom: 20px;
    width: 100%;
}

.header .logo {
    float: left;
    width: 530px;
    line-height:30px;  /*纵向居中布局*/

}
.header .logo a {
    float: left;
    height: 50px;
    margin: 10px 15px 0 10px;
    width: 100px;
}

.slogan {
    float: left;
	line-height: 60px;
	
}

.search {
    border: 1px solid #e0caf1;
    height: 30px;
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
    float: right;
}

.search input {
    border: 0 none;
    float: left;
    height: 28px;
    line-height: 28px;
    width: 200px;
}
.search span {
    background-position: 0 -50px;
    cursor: pointer;
    float: right;
    height: 22px;
    margin-top: 3px;
    width: 30px;

}
.search span:hover {
    background-position: 0 -80px;
}

.menu {
    width: 124px;
    float:left;
}

.bigMenu {
    cursor: pointer;
    padding-left: 20px;
}

.dropdown {
    height: 100%;
}
.dropdown li {
    margin-bottom: 20px;
}
.dropdown li.selected > a {
    background-position: 75px -225px;
}
.dropdown li.selected > ul li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dropdown li a {
    background-position: 75px -200px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
}
.dropdown li ul li a {
    font-size: 14px;
}
.dropdown li > ul li {
    margin-bottom: 0;
    padding: 5px 20px;
}
.dropdown li > ul li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #666;
    line-height: 22px;
    padding: 0;
    text-align: center;
}
.dropdown li > ul li a.active, .dropdown li > ul li a:hover {
    color: #109bee;
    font-weight: bold;
    transition: all 0.2s ease-in-out 0s;
}










.mainbox {
    width: 880px;
    float: left;
}

.fr {
    float: right !important;
}

.tabbox01 {
    margin-bottom: 30px;
}
.tabbox01, .tabbox01 .tabcont {
    height: 205px;
    overflow: hidden;
    width: 250px;
}

.tabbox02 .tit, .tabbox02 .picture {
    text-align: center;
}
.tabbox02 .tit {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}

.release .content, .more01 .more-details {
    background-color: #fff;
    border: 3px solid #109bee;
    display: none;
    position: absolute;
    right: 0;
}

.release .content {
    height: 172px;
    padding: 10px;
    top: 20px;
    width: 374px;
    z-index: 1;
}

.tips {
    color: #bbb;
    font-size: 12px;
    position: left;
    right: 0;
    top: 10px;
}
















.footer {
    background-color: #fff;
    border-top: 5px solid #cacad9;
    float: left;
    margin-top: 60px;
    padding-bottom: 30px;
    float: center;
    width: 100%;

}
.footer p {
    float: left;
    text-align: center;
    width: 100%;
}
.footer p a {
    padding-left: 20px;
}
.footer .attention {
    margin-left: 450px;
    margin-top: 20px;
}



